@model Kollaborator.web.Models.ApplicationUser

<div class="single-user-wrapper">
    <div id="editorRow">
        @using (Html.BeginCollectionItem("users"))
        {
            <div class="form-group">
                @Html.LabelFor(p => p.UserName, htmlAttributes: new { @class = "col-lg-4 control-label" })

                    @Html.EditorFor(p => p.UserName, new { htmlAttributes = new { @class = "col-lg-4 form-control input-md" } })
                    <a href="#" class="deleteRow">delete</a>
              
            </div>
        }
        

    </div>
</div>

