@model Kollaborator.web.Models.ApplicationUser

<div class="single-user-wrapper">
    <div id="editorRow">
        <a href="javascript:void(0)" onclick="removeItem(this);">Remove this item</a>
        @using (Html.BeginCollectionItem("users"))
        {
            <div class="form-group">
                @Html.LabelFor(p => p.UserName)
                @Html.HiddenFor(p => p.Id)
                @Html.EditorFor(p => p.UserName, new { htmlAttributes = new { @Value = Model.UserName}, })



            </div>
        }


    </div>
</div>

