@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form enctype="multipart/form-data" method="post">
    <h1>Your profile</h1>
    <p>(In a real app, other form controls would appear here)</p>
    <p>
        Upload your photo: <input type="file" id="photo" name="photo" />
    </p>

    <input type="submit" value="Save my profile" />
</form>
<script>
    $(function () {
        $("#photo").makeAsyncUploader({
            upload_url: "/Home/FileUpload",
            flash_url: '/Scripts/swfupload.swf',
            button_image_url: '/Content/blankButton.png',
            disableDuringUpload: 'INPUT[type="submit"]'
        });
    });
</script>  
