@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
@if (Request.IsAuthenticated)
{
    <h1>My profile</h1>
    <p class="lead">What do you want to do now?</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Create your music group</a>
        <a href="http://asp.net" class="btn btn-primary btn-lg">Join group</a>
        <a href="http://asp.net" class="btn btn-primary btn-lg">Ask others to join &raquo;</a>
    </p>
}
else
{  <h1>Kollaborator</h1>
    <p class="lead">Kollaborator is popular web service for gathering various music artist, sharing works and getting feedback</p>
   <!-- <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>--> 
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start</h2>
        <p>
           Please register or Log In so you can start use Kollaborator just now!
        </p>
      <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->  
    </div>
    <div class="col-md-4">
        <h2>Connect with other artist</h2>
        <p>Kollaborator allows you to easily connect with other people from music industry so you can start your collaboration with no problem.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>