
    @{
        Layout = null;

    }

    <!DOCTYPE HTML>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Upload</title>
        @Styles.Render("~/Content/css")
        


       

    </head>
    <body>
        <div>
            Click Select files to upload files.
            <input type="file" name="file_upload" id="file_upload" />
        </div>
        <div id="uploaded">

        </div>
        <script type='text/javascript' src="~/Scripts/jquery-1.10.2.js"></script>
        <script type='text/javascript' src="~/Scripts/jquery.uploadify.js" ></script>
        <script type='text/javascript' src="~/Scripts/uploadify.js"></script></body>
</html>
