body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

groupDisplay{
    padding-left: 200px;
}
.image {
   width: 100px;
   height: 100px;
   position: relative;
}
.btn-delete {
   cursor: pointer;
   position: absolute;
   right: 2px;
   top: 2px;
}